---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Icon from '@iconify/svelte';

const posts = (await getCollection('writings'))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());

const formatDate = (date: Date) => {
	return date.toLocaleDateString('en-US', {
		year: 'numeric',
		month: 'short',
		day: 'numeric'
	});
};
---

<BaseLayout title="Writings - Vraj Shah" description="Thoughts on engineering, products, and more">
	<div class="py-6 px-4 sm:px-6">
		<header class="mb-8">
			<a
				href="/"
				class="text-xs text-muted-fg hover:text-fg-secondary inline-flex items-center gap-1 mb-4"
			>
				{/* @ts-expect-error - Iconify Svelte types not properly recognized in Astro */}
				<Icon client:load icon="tabler:arrow-left" class="size-3" />
				home
			</a>
			<h1 class="text-2xl sm:text-3xl font-semibold tracking-wide leading-tight mb-2">writings</h1>
			<p class="text-fg-secondary">thoughts on engineering, products, and more</p>
		</header>

		{
			posts.length === 0 ? (
				<p class="text-muted-fg text-sm">no posts yet. check back soon!</p>
			) : (
				<ul class="space-y-4">
					{posts.map((post) => (
						<li class="group">
							<article class="relative py-3 flex gap-4 items-baseline border-b border-border border-dashed">
								<div class="shrink-0 flex flex-col items-end gap-2">
									<time
										datetime={post.data.publishedAt.toISOString()}
										class="text-2xs text-right font-mono text-muted-fg"
									>
										{formatDate(post.data.publishedAt)}
									</time>

									<div class="text-2xs w-fit font-mono bg-charcoal-200 px-1.5 py-0.5 text-muted-fg">
										{post.data.type}
									</div>
								</div>
								<div>
									<h2 class="text-sm font-medium text-fg group-hover:text-link-fg transition-colors mb-2">
										<a href={`/writings/${post.slug}`} class="after:absolute after:inset-0">
											{post.data.title}
										</a>
									</h2>
									<p class="text-xs text-fg-secondary">{post.data.description}</p>
									{/* {post.data.tags.length > 0 && (
										<div class="flex gap-1.5 mt-2">
											{post.data.tags.map((tag: string) => (
												<span class="text-2xs font-mono bg-charcoal-200 px-1.5 py-0.5 text-muted-fg">
													{tag}
												</span>
											))}
										</div>
									)} */}
								</div>
							</article>
						</li>
					))}
				</ul>
			)
		}
	</div>
</BaseLayout>
