---
import type { CollectionEntry } from 'astro:content';

interface Props {
	data: CollectionEntry<'writings'>;
}

const { data: post } = Astro.props;

const formatDate = (date: Date) => {
	const diffMs = Date.now() - date.valueOf();
	const sec = Math.max(1, Math.floor(diffMs / 1000));
	const min = Math.floor(sec / 60);
	const hr = Math.floor(min / 60);
	const day = Math.floor(hr / 24);
	const mo = Math.floor(day / 30);
	const yr = Math.floor(day / 365);
	if (yr >= 1) return `${yr}y ago`;
	if (mo >= 1) return `${mo}mo ago`;
	if (day >= 1) return `${day}d ago`;
	if (hr >= 1) return `${hr}h ago`;
	if (min >= 1) return `${min}m ago`;
	return `${sec}s ago`;
};
---

<li class="group">
	<article class="relative py-2 flex gap-4 items-baseline">
		<div class="flex-1">
			<h2 class="text-sm font-medium text-fg group-hover:text-link-fg transition-colors mb-2">
				<a href={`/writings/${post.slug}`} class="after:absolute after:inset-0">
					{post.data.title}
				</a>
			</h2>
			<p class="text-xs text-fg-secondary">{post.data.description}</p>
		</div>
		<div class="shrink-0 flex flex-col items-end gap-2">
			<time
				datetime={post.data.publishedAt.toISOString()}
				class="text-2xs text-right font-mono text-muted-fg"
			>
				{formatDate(post.data.publishedAt)}
			</time>
			<div class="text-2xs w-fit font-mono bg-charcoal-200 px-1 text-muted-fg">
				{post.data.type}
			</div>
		</div>
	</article>
</li>
